
body{
  margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  .anthias{
   border-radius: 10px;
   width: 500px;
   margin-top: 10px;

  }

  .button1{
    position:absolute;
    bottom:0;
    right:0;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition-duration: 0.4s;
    border-radius: 12px;
  }

  
  .button1:hover {
    background-color: #fff;
    color: black;
  }

  .postDiv{
   max-width: min-content;
  }

  ul {
    margin-top: 0;
  }
  .clock {
    position: fixed;
    margin-left: -125px; 
    top: 0; left: 50%;
    width: 250px;

    /* transform: translateX(-50%) translateY(-50%); */
    color: black;
    font-size: 25px;
    font-family: Orbitron;
    letter-spacing: 7px;
    background-color: #4CAF50;
   
}
